@model Common.Entities.Post

@{
    ViewData["Title"] = "CreatePost";
}

<h1>Create new post</h1>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>
            New Post
        </legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(model => model.Text)
        </div>
        <div>
            <input type="submit" name="newPost" value="Create new post" />
        </div>
    </fieldset>
}